  <div class="container">
    <h1>Genius Thinkers</h1>
    <div class="row">
      <% @geniuses.each do |genius| %>
        <%= render 'shared/cards', genius: genius%>
      <% end %>
    </div>
  </div>

