<div class="container">
  <div class="d-flex justify-content-around">
    <div class="form-genius">
      <h2 class="text-center">Add a Genius</h2>
      <%= render 'shared/form-genius', genius: @genius %>
    </div>
    <div class="list-bookings">
       <%= render 'shared/list-bookings', my_bookings: @my_bookings %>
    </div>
  </div>
  <br>
  <br>
  <div>
    <h2 class="text-center">My Geniuses</h2>
    <ul class="list-scroll" id="list-all-my-geniuses">
      <% @my_geniuses.each do |genius| %>
      <%= render 'shared/list-my-geniuses', genius: genius, photo: @photo %>
      <% end %>
    </ul>
  </div>
</div>
