<div class="container">
  <div class="d-flex justify-content-around">
    <div class="form-genius">
      <h2 class="text-center">Add a Genius</h2>
      <%= render 'shared/form-genius', genius: @genius %>
    </div>
    <div class="list-bookings">
       <%= render 'shared/list-bookings', my_bookings: @my_bookings %>
    </div>
  </div>
  <br>
  <br>
  <div>
    <%= render 'shared/list-my-geniuses' %>
  </div>
</div>
