<div class="container d-flex">
  <div class="form-genius">
  <h2>Add a Genius</h2>
  <%= render 'shared/form-genius', genius: @genius %>
  </div>
  <div class="FixedHeightListContainer">
    <%= render 'shared/list-my-geniuses' %>
  </div>
</div>
