<div class="container">
  <div class="form-wrapper">
    <h2>Book a lecture by <%= @genius.name %></h2>
  <%= render 'shared/form-lecture', genius: @genius, lecture: @lecture %>
  </div>
</div>


<!-- style="width: 400px; margin: 0 auto;" -->
