<%= link_to geniuses_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.yu.edu/sites/default/files/physics-148986696.jpg)">
    Explore
  </div>
<% end %>
