<h2 class="text-center">My booked lectures</h2>
<ul class="list-scroll ">
<% my_bookings.each do |lecture| %>
  <div class="form_card_new">
  <li>
    <div class="d-flex justify-content-between">
      <div>
        <h3><%=lecture.genius.name %> </h3>
      </div>
      <div>
        <%= link_to 'Delete Booking', genius_path(lecture.genius), method: :delete, :class => "button_cust" %>
      </div>
    </div>
      <p>Start Time: <%= lecture.start_time%></p>
      <p>End Time: <%= lecture.end_time %></p>
  </li>
  </div>
<% end %>
</ul>
