<div class="homepage-container">
  <div class="homepage-form">
    <p>text</p>
  </div>
  <div class="homepage-picture">
  </div>
</div>
<div class="card_banner">
  <%= image_tag "solvay_conference_4.jpg", id: "front-page-image" %>
</div>
