<div class="homepage-container">
  <div class="homepage-form">
    <p>.</p>
  </div>
  <div class="homepage-picture">
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="container" style="text-align: center;">
  <h3 >We are geniuses and now you can become one too!</h3>
  <br>
  <p>You have a fantastic opportunity to improve you everlasting expanding knowledge of the world. </p>
  <p>Browse through geniuses of the past and book a lecture with a hologram copy</p>
</div>
<br>
<br>
<br>
<div class="card_banner">
  <%= image_tag "solvay_conference_4.jpg", id: "front-page-image" %>
</div>
