/* Carousel specific configuration */

.carousel-container {
  margin: 20px 300px;
  transition: 0.1s;
}

.carousel-inner img {
  width: 60vw;
  height: 40vh;
  object-fit: contain;
}

.carousel-indicators li {
  visibility: hidden;
}
