.list-bookings {
width: 45%;
}

.list-scroll {
    height:575px;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding-inline-start: 0px;
  }

.list-box {
  border: 1px dotted $black;
  padding: 5px;
  margin: 5px;

}
.list-header-button{
  display: flex;
  justify-content: space-between;
}
