.navbar-lewagon {
  position: fixed;
  height: 80px;
  z-index: 10;
  width: 100vw;
  background-color: transparent;
  transition: 0.5s background-color ease;
  justify-content: space-between;
}

.navbar-lewagon-white {
  background-color: white;
  .navbar-nav >.nav-item > .nav-link#search-nav-link {
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 30px;
}

.navbar-grent {
  position: sticky;
  width: 100%;
  justify-content: space-between;
  background:  #6a707a;
}

.navbar-grent .navbar-collapse {
  flex-grow: 0;
}

.navbar-grent .navbar-brand img {
  width: 40px;
}

img.border-radius {
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFF;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #FFFF;
}
