.navbar-grent {
  justify-content: space-between;
  background: white;
}

.navbar-grent .navbar-collapse {
  flex-grow: 0;
}

.navbar-grent .navbar-brand img {
  width: 40px;
}

img.border-radius {
  border-radius: 2px;
}
